---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Principal from '../components/Principal.astro';
import Anuncio from '../components/Anuncio.astro';
import Camera from '../components/Camera.astro';
---

<Layout title="Apple Astro">
	<main class="mx-auto">
		<Header/>
		<Anuncio/>
		<Principal/>
		<Camera/>

	</main>
</Layout>


