<main>

    <div class=" w-full h-12 mt-20">
        <p class="text-center text-[14px] font-light">
            Now through June 3, get $200-$650 in credit toward a new iPhone when you trade in iPhone 11 or higher.1 Shop iPhone
        </p>
    </div>
</main>