<main class="mt-3">
    <div class="absolute w-full">
        <div class="text-center text-gray-900">
            <h2 class="text-7xl font-medium mt-[60px]">
                iPhone 15
            </h2>
            <h2 class="text-4xl font-regular mt-2 mb-6">
                New camera. New design. Newphoria.
            </h2>
            <button class="text-white border border-sky-700 rounded-full px-8 py-3 bg-sky-700">
                <a class="text-2xl" href="#">Learn More</a>
            </button>
            <button class="border border-sky-700 rounded-full px-6 py-3 ml-4">
                <a class="text-sky-700 text-2xl" href="#">Buy</a>
            </button>
        </div>
        
    </div>
    <div >
        
        <img src="./public/camera.jpg" alt="iPhone" class=" w-full h-[691px] object-cover top-[96px]" />
    </div>
    
</main>